<p id="notice"><%= notice %></p>

<% if current_user  %>



    <% @bookmarks.each_slice(4) do |bookmar| %>
      <div class="row">
        <% bookmar.each do |bookmark| %>
          <div class="icons">
            <a href="<%= bookmark.url %>">
              <img src="<%= bookmark.image %>" class="rounded float-left" height="170" width="200">
            </a><br>
              <%= bookmark.title %><br>
              <%= link_to 'Edit', edit_bookmark_path(bookmark) %>
              |
              <%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    <% end %>



<% else %>
  <div class="center-content">
    <h1>Welcome</h1>
    <%= link_to "Sign in with Facebook", '/auth/facebook', id: "sign_in" %><br>
    <%= link_to "Sign in with GitHub", '/auth/github', id: "sign_in" %>
  </div>
<% end %>
<br>
