<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <% if current_user %>
        Welcome:
        <%= current_user.name %>
        <%= link_to "Sing out", sing_out_path, id: "sing_out" %>
        <%= link_to "Home", root_path %>
        <%= link_to "Search Friends", '/users/index' %>
        <%= link_to "Friends", '/users/show' %>
        <%= link_to "Friend bookmarks", '/users/friends_bookmark' %>
        <%= link_to 'New Bookmark', new_bookmark_path %>
        <%= form_tag bookmarks_path, method: 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
      <% end %>

    <% else %>
    <div class="center-content-nav">
      <h4>Bookmark application</h4>
    </div>
    <% end %>

  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
