<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Singed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sing out", singout_path, id: "sing_out" %>
    <% else %>
      <%= link_to "Sing in whith Facebook", '/auth/facebook', id: "sing_in" %>
    <% end %>

    <%= form_tag bookmarks_path, method: 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>

    <%= yield %>
  </body>
</html>
